/* write.module.css */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--bg);
    color: var(--textColor);
    transition: background-color 0.2s, color 0.2s;
}

.file {
    border: none;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
