/* comments.module.css */
.container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.write {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s;
}

.button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    padding: 10px;
    background-color: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.userInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}

.date {
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.desc {
    font-size: 1em;
    color: var(--text-color);
}

.link {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s;
}

.link:hover {
    color: var(--primary-color-hover);
}
